:root{
    --accent-1: #f9274a; --light-1: #ff484d; --dark-1: #c51033;
    --accent-2: #ff744b; --light-2: #ff954b; --dark-2: #cc4734;
    --accent-3: #fee447; --light-3: #fff04b; --dark-3: #cf9534;
    --accent-4: #42e13c; --light-4: #77ee3c; --dark-4: #4b932d;
    --accent-5: #559bfa; --light-5: #78b9f9; --dark-5: #4a66b0;
    --accent-6: #882bee; --light-6: #ac3eef; --dark-6: #6d1aa6;
    --mono-1: #232a3a; --mono-2: #5a6577; --mono-3: #a7abb4;
    --mono-4: #ffefff; --mango-1: #1d1d29; --mango-2: #4a4154;
    --mango-3: #876f7f; --mango-4: #d29bd5; --lime-1: #333b3d;
    --lime-2: #79837a; --lime-3: #c4c5b5; --lime-4: #fff6ff;
}

*{
    height: 100%;
    width: 100%;
    top: -2px;
    left: 0px;
    position:absolute;
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
    background-color: var(--mango-1);
    border-color: var(--lime-3);
    color: var(--lime-3);
}

background{
background-color: red;
}

fixed{
    top:0px;
    left:0px;
    position: fixed;
}

logo{
    height: 170px;
    width: 170px;
    top:10%;
    left: 50%;
    transform: translate(-50%,-10%);
}
